extends layout

block content
  h1= title
  //- - let items = ['Anaconda_type','quantity','cost']
  - let items = results;
  - let o;
  script.
    function buy(x){
      alert('purchased item ' + x)
   } 
  div(class='container-fluid')
    a(class="btn btn-primary" href="/Anaconda/create") Create
    div(class='row m-1')
    div(class="row row-cols-1 row-cols-sm-4 g-6")
      each item,index in items
        - let destination = `dispatch(\"/Anaconda/update?id=${item._id}\")`
        - let details = `dispatch(\"/Anaconda/detail?id=${item._id}\")` 
      
        div(class="Anaconda text-black bg-white mb-3" class='col' class='Anaconda' class='Anaconda-body' class='Anaconda-text' onclick='buy('+index+')') Item #{item.Ananconda_color}(#{item.Ananconda_petname})is #{item.Ananconda_price} 
          <br><br>
          span(class="btn btn-info", onclick= details) Details
          <br><br>
          a(class="btn btn-danger", href="/Anaconda/delete/?id="+item._id) Delete
          <br><br>
          button.btn( class="btn-success ml-1", onclick= destination) Update

  script.
    function dispatch(path){
      window.location.href=path
    }